<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/Pages/CoureseIndexScript.js"></script>
    <script src="~/Scripts/Pages/Tabs.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/Pages/TimeTables.js"></script>
    <link href="~/Content/themes/jcarousel.connected-carousels.css" rel="stylesheet" />
    <script src="~/Scripts/Pages/jquery.jcarousel.min.js"></script>
    <script src="~/Scripts/Pages/jcarousel.connected-carousels.js"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="body" dir="rtl">
    <div id="top">
        <div>
            @*@Html.ActionLink("דף הבית", "Index", "Home")*@
            @*<span> | </span>*@
            @*if (Request.IsAuthenticated)*@
            @*{*@
                @*<strong>@Html.Encode(User.Identity.Name)  </strong>*@
                @*@Html.ActionLink("Sign Out", "LogOff", "Account")*@
            @*}*@
            @*else*@
            @*{*@
                @*@Html.ActionLink("הרשמה", "Register", "Account")*@
                @*<span> | </span>*@
                @*@Html.ActionLink("כניסה", "Login", "Account")*@
            @*}*@
            
        </div>
    </div>

    <div id="output"></div>
    <div id="overlay" class="web_dialog_overlay"></div>
    <div id="dialog" class="web_dialog" style="direction: rtl;">
        <table style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
            <tr>
                <td id="PopUp" class="web_dialog_title">
                    <span id="PopUpHeader"></span>
                </td>
                <td class="web_dialog_title align_right">
                    <a href="#" id="btnClose" onclick="HideDialog()">סגור</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left: 15px;">
                    <span id="PopUpMessege"></span>
                </td>
            </tr>
        </table>
    </div>


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>